{% extends 'Books/base.html' %}
{% load static %}

{% block content %}
  <main id="main">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8" data-aos="fade-up">
            <div class="d-md-flex post-entry-2 half" style="border: thin solid black;border-radius: 20px; background:white">
				<div class="col-md-3" data-aos="fade-up" style="margin-left:20px;margin-top:20px;margin-bottom:20px">
				   <img src="{{ds.book_image.url}}" alt="" class="img-fluid">
				 </div>
				<div>
				<div class="cols-sm-5" data-aos="fade-up" style="margin-top:20px;margin-bottom:20px;margin-left: 40px;margin-right: 10px">
					<h1 align="left" >{{ds.book_name}}</h1>
                    <div class="d-flex align-items-center author" align="left">
                      <div class="name">
                        <table>
                          <th>
                          {% for t in tl %}
                            {% if t.book.id == ds.id %}
                              <td>
                                <a style="margin-right: 10px;color: #0a53be" href="{% url 'book_category' t.category.id %}">
                                  <button type="button" class="btn btn-light rounded-pill">{{t.category.category_name}}</button>
                                </a>
                              </td>
                            {% endif %}
                          {% endfor %}
                          </th>
                        </table>
                      </div>
                    </div>
					<div class="d-flex align-items-center author" align="left">
					  <div class="name">
						<h3 class="m-0 p-0">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                          </svg> &nbsp {{view_number.view_number__sum}}</th>
                        </h3>
					  </div>
					</div>

					<div class="d-flex align-items-center author" align="left">
					  <div class="name">
                        <a href="{% url 'rating' ds.id 0 %}">
                          <h3 class="m-0 p-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
                            </svg> &nbsp {{like}}</th>
                          </h3>
                        </a>
					  </div>
					</div>
					<div class="d-flex align-items-center author" align="left">
					  <div class="name">
                        <a  href="{% url 'rating' ds.id 1 %}">
                          <h3 class="m-0 p-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
                            </svg> &nbsp {{dislike}}</th>
                          </h3>
                        </a>
					  </div>
					</div>

                    <a href="{% url 'chap' ds.id  first.id %}">
					 <button class="btn btn-primary" style="margin:auto;width: 100%" type="button">Bắt đầu đọc</button>
                    </a>
				</div>
				</div>
            </div>

            <div class="cols-sm-5">
              <a href="{% url 'book_author' ds.user_id %}" class="comment d-flex">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm rounded-circle">
                    <img class="avatar-img" src="{{ds.user.user_image.url}}" alt="">
                  </div>
                </div>
                <div class="flex-shrink-1 ms-2 ms-sm-3">
                  <div class="comment-meta d-flex">
                    <h6 class="me-2" >{{ds.user.fullname}}</h6>
                  </div>
                </div>
              </a>
              <div class="cols-sm-5" style="margin-top: 15px">
                <p>{{ds.book_synopsis}}</p>
              </div>
                <table>
                  <th>
                  {% for t in cd %}
                    {% if t.book.id == ds.id %}
                      <td>
                        <a style="margin-right: 10px;color: #0a53be" href="{% url 'book_topic' t.topic.id %}">
                          <button type="button" class="btn btn-dark rounded-pill">{{t.topic.topic_name}}</button>
                        </a>
                      </td>
                    {% endif %}
                  {% endfor %}
                  </th>
                </table>
              </div>

            <div class="cols-sm-5" style="margin-top: 15px;border: thin solid black;border-radius: 20px; background:white">
              <h2 align="left" style="margin-top: 5px;margin-left: 20px">Danh Sách</h2>
              <span style="margin-left: 20px">Ngày cập nhật gần nhất: {{last.date_create}}
              </span>
              <div class="card-body" style="margin-top: 5px;margin-left: 20px;margin-right: 20px">
                  <!-- Default Table -->
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col" align="right"></th>
                    </tr>
                    </thead>
                    <tbody>
                      {%for item in chap %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td ><a href="{% url 'chap' ds.id  item.id %}"> {{item.chapter_name}} </a></td>
                            <td align="right"  style="margin-right: 10px">{{item.date_create}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
              </div>

            </div>
            
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <div class="tab-content">
                <!-- Popular -->
                <h3>Bài viết nhiều người đọc</h3></br>
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  {% for item in hot %}
                    <div class="post-entry-1 border-bottom">
                      <h2 class="mb-2"><a href="" >{{item.book_name}}</a></h2>
                      <span class="author mb-3 d-block">{{item.user.fullname}}</span>
                    </div>
                  {% endfor %}
                </div> <!-- End Popular -->


              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->
{% endblock %}