{% extends 'Books/base.html' %}
{% load static %}

{% block content %}
<main id="main">
  <section>
    <div class="container" >
      <div class="row">
        <center>
          <div class="col-md-8" data-aos="fade-up">
            </br>
            <h3 class="category-title" align="left">Danh sách chủ đề</h3>

            {% for item in cd %}
              <a  href="{% url 'book_topic' item.id %}"
                 class="d-md-flex post-entry-2 half" style="border: thin solid black;border-radius: 20px; background:white">
                <div class="col-md-10" style="margin-top:7px;margin-left:10px;">
                  <h4 style="margin-left:30px;" align="left">{{item.topic_name}}</h4>
                </div>
                <div class="col-md-2" style="margin-top:7px;">

                      <h4  class="dot">{{item.length}}</h4>

                </div>
              </a>
            {% endfor %}

            <div class="text-start py-4">

            </div>
          </div>
        </center>
      </div>
    </div>
  </section>
</main>
{% endblock %}